/* 设置页面背景颜色为浅灰色 */
body {
    background-color: rgb(248, 248, 248);
    font-family: Arial, sans-serif;
    text-align: center; /* 将所有内联元素水平居中 */
}

/* 设置标题样式 */
h1 {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 36px;
    color: rgb(64,64,64);
    text-align: center;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
    transition: color 0.5s ease;
}

/* 设置链接样式 */
a:link, a:visited {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3498db;
}

/* 设置时钟样式 */
#clock {
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
    transition: color 0.5s ease;
}

/* 设置无序列表样式 */
ul {
    font-family: "SimSun", sans-serif;
    font-size: 24px;
    color: black;
    list-style-type: none;
    padding: 0;
}

/* 设置列表项样式 */
li {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

/* 设置容器样式 */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px; /* 缩进div内边距 */
    margin-bottom: -20px; /* 向上移动容器 */
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

/* 鼠标悬停时的样式变化 */
.container:hover, h1:hover, #clock:hover, li:hover, a:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/* 设置旋转缩放动画 */
@keyframes rotateScale {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(8) rotate(360deg);
    }
}

/* 设置链接悬停时的旋转缩放效果 */
a.rotate {
    display: inline-block;
    transition: transform 0.5s ease;
}

a.rotate:hover {
    animation: rotateScale 1s linear;
}

/* 设置随机新闻按钮样式 */
#randomNewsButton {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#randomNewsButton:hover {
    background-color: #2980b9;
}

/* 设置时钟旋转动画 */
#clock {
    display: inline-block;
    animation: rotate 60s infinite linear;
}

/* 定义旋转动画 */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}